@inherits LayoutComponentBase

<nav class="navbar">
    <ul class="nav">
        <li class="nav-item">
            <NavLink href="" class="nav-link">Products</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="bids" class="nav-link">Bids</NavLink>
        </li>
    </ul>
</nav>

<article class="container">
    @Body
</article>