@page "/bids"
@using Bacchus.Shared
@inject HttpClient Http

<h3>Bids</h3>
<table class="table">
    <thead>
        <tr>
            <th>ProductId</th>
            <th>Username</th>
            <th>Amount</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bid in _bids)
        {
            <tr>
                <td>@bid.ProductId</td>
                <td>@bid.Username</td>
                <td>@bid.Amount.ToString("0.00")</td>
                <td>@bid.Created.ToLocalTime().ToString("HH:mm:ss dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
</table>

@functions
{
    private IList<BidDto> _bids = new List<BidDto>();

    protected override async Task OnInitAsync()
    {
        _bids = await Http.GetJsonAsync<List<BidDto>>("api/Products/GetBids");
    }
}