@page "/bids"
@inject BacchusDbContext _db

<h3>Bids</h3>
<table class="table">
    <thead>
        <tr>
            <th>ProductId</th>
            <th>Username</th>
            <th>Amount</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bid in _bids ?? new List<Bid>())
        {
            <tr>
                <td>@bid.ProductId</td>
                <td>@bid.Username</td>
                <td>@bid.Amount.ToString("0.00")</td>
                <td>@bid.Created.ToLocalTime().ToString("o")</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    private IList<Data.Bid> _bids;

    protected override async Task OnInitializedAsync()
    {
        _bids = await _db.Bids.ToListAsync();
    }
}